@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root{
  --primary-color: #cca26f
}

/* Standardized body & navbar */
body{
    background: #F2F2F2;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

img[class=logo]{
    width: 40%;
  }

.navbar{
  background: white;
  padding: 1em;


}

nav{
  /* display: none; */
}

.container{
  display: flex;
  place-content: space-between;
}

.mobile-menu{
  cursor: pointer;
}

/* --------------------- */

a{
  color: #4444444;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section{
  padding: 5em 2em;
}

.hero{
  text-align: center;
}

.class{

}

#error_message{
  margin-bottom: 20px;
  padding: 0px;
  background: #fE8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.box{
  position: static;
  width: 70%;
  border-style:solid;
  margin: 10 px;
  text-align: left;
  padding-right: 10em;
  padding-left: 5em;
  padding-top: 2em;
  padding-bottom: 3em;
}

.border{
  position: static;
  width: 70%;

  margin: 10 px;
  text-align: left;
  padding-right: 10em;
  padding-left: 5em;
  padding-top: 2em;
  padding-bottom: 3em;
}

label{
    font-family: 'Montserrat', sans-serif;
}

.box input_field{
  margin-bottom: 10px;
}

.box input[type="text"], textarea[type="msg"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-color: inherit;
  background: #f1f1f1;
}

.box input[type="text"]:focus, textarea[type="msg"]:focus {
  background-color: #FFFFFF;
  outline-style: solid;
}


.btn input[type="submit"]{
  border: 0;
  margin-top: 15 px;
  padding: 10 px;
  text-align: center;
  width: 100%;
  background: #f2e70c;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5 px;
  font-weight: bold;
  border-radius: 25 px;
  cursor: pointer;
}

.social-menu ul {

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin:  20px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative:;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #6EF83A;
}

