@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primaryc: #444444; /*Light grey*/
  --secondaryc: #878683;
  --tertierc: #18191B; /*darker gray*/
  --color1: #2069e0;/*blue*/
  --color2: #20272E; /*dark bluish gray*/

}

/* Standardized part of the Website*/
body {
  background: var(--tertierc);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* Navigation bar */
img.logo {
  width: 50px;
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 5px #222);
}

.navbar {
  background: white;
  padding: 1em;
}

nav {
  display: none;

}

.container {
  display: flex;
  place-content: space-between;
}

.mobile-menu {
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}
nav{
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: var(--color2);
  height: 100vh;
  padding: 1em;
}

ul.primary-nav{
  margin-top: 5em;
}

a.nav{
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

a.nav :hover{
  font-weight: bold;

}

.mobile-menu-exit{
  float: right;
  margin: .5em;
  cursor: pointer;
}
/* media query change */
/* if on pc */
@media only screen and (min-width: 768px) {
    .mobile-menu, .mobile-menu-exit{
      display: none;
    }
    .navbar .container{
      display: grid;
      grid-template-columns: 180px auto;
      justify-content: unset;
    }
    .navbar nav {
      display: flex;
      justify-content: space-between;
      background: none;
      position: unset;
      height: auto;
      width: 100%
      padding: 0;
    }

    ul{
      display: flex;
    }

    a.nav{
      color: black;
      font-size: 1em;
      padding: .1em 1em;
    }
    ul.primary-nav{
      margin: 0;
    }

    li.current a{
      font-weight: bold;
    }
}



a {
  color: var(--secondaryc);
  text-decoration: none;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 3em 2em;
}

/* Blog */

.header-blog{
  padding: 3em 2em;
  text-align: center;
  color: white;
  font-size: 30px;
  text-shadow: 3px 3px 3px black;
  background-image: url('../asset/Images/Bread.jpg');
  background-size: auto 150%;
  background-repeat: no-repeat;
  background-position: top;
}

.hero .container {
  text-align: center;
  padding: .6em .3em ;
  display:inline-block;


}
 img.hero-img{
   width: 100%;
   height: auto;
 }


p.subhead{
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

h1.head{
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
  color: white;
}

p{
  color: white;
}

h5, h3{
  color: white;
}

@media only screen and (min-width: 1080px) {
  .header-blog{
    background-size: 100% auto;
  }
  .container{
    width: 1080px;
    margin: 0 auto;
  }
  section{
    padding: 10em 4em;
  }

  .hero .container{
    display: flex;
    justify-content: space-between;
    text-align: right;
  }
  .hero-img{
    width: 500px;
    height: 500px;
  }

}


.entries-section{
  background: var(--primaryc);

}


img.entry{
  width: 99%;
  border: 2px solid #006BD6;
  border-top-left-radius:  1em;
  border-top-right-radius: 1em;
}

li.entry{
  background: #006BD6;
  text-align: center;
  padding: 0 0 2em 0;  ;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.page-number{
  display: grid;

}

/* Index */
.box {
  border: 1px solid blue;
  padding: 5px;
  margin: 20px;
  box-shadow: 2px 3px 10px black;
  color: black;
  overflow: hidden;
  border-radius: 10px;
}

.box-02 {
  border: 1px solid blue;
  padding: 30px;
  margin: 20px;
  box-shadow: 2px 3px 10px black;
  color: green;
  overflow: hidden;
  border-radius: 10px;
}

.box-02 :hover {
  cursor: pointer;
  box-shadow: 2px 10px 10px rgba(75, 36, 36, 0.692);
  color: green;
  overflow: hidden;
  border-radius: 10px;
  transform: scale(1.01);
  transition: all 0.5s ease;
}

.box-03 {
  border: 1px solid blue;
  padding: 20px;
  margin: 20px;
  box-shadow: 2px 3px 10px black;
  color: green;
  border-radius: 10px;
}

.box-03 :hover {
  cursor: pointer;
  box-shadow: 2px 10px 10px color: black;
  border-radius: 10px;
  transform: scale(1.01);
  transition: all 0.5s ease;
}
/* contact */
.box{
  position: relative;
  width: 100%;
  border-style:solid;
  margin: 10 px;
  text-align: left;
  padding-right: 10em;
  padding-left: 5em;
  padding-top: 2em;
  padding-bottom: 3em;
  background: #c2c3c4;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.border{
  position: relative;
  width: 50%;

  margin: 10 px;
  text-align: center;
  padding-right: 10em;
  padding-left: 5em;
  padding-top: 2em;
  padding-bottom: 3em;
}

label{
    font-family: 'Montserrat', sans-serif;
}

.box input_field{
  margin-bottom: 10px;
}

.box input[type="text"], textarea[type="message"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display:inline-block;
  border-color: inherit;
  background: #f1f1f1;
}

.box input[type="text"]:focus, textarea[type= "message"]:focus {
  background-color: #FFFFFF;
  outline-style: solid;
}


.btn input[type="submit"]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  font-weight: bold;
  border-radius: 45 px;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  transition: .5s;
  cursor: pointer;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

.social-menu ul {

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin:  20px;
    padding: 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative:;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #6EF83A;
}

/* footer */
.footer{
  background: var(--color2);
  padding: 1em;
}
.social-btn{
   width: 40px;
   display: flex;
}
